@import "tailwindcss";

@theme {
  --font-code: Consolas, monaco, monospace;

  --color-near-black: var(--color-neutral-950);
  --color-near-white: var(--color-neutral-50);
  --color-teams: oklch(0.24 0 0);
}

@utility progress {
  background: linear-gradient(to right, #0000 50%, var(--color-near-black) 50%);
  background-size: 200% 100%;
  transition: background-position 0.2s ease-in-out;
}

@utility gradient {
  background: linear-gradient(to right, #ff4136 0%, #357edd 100%);
}

@utility cursor {
  cursor: default;
}

@utility sel {
  user-select: text;
}

@utility sel-none {
  user-select: none;
}

@utility mw-90 {
  max-width: 90%;
}
